@mixin text-modificator(
    $font_style, 
    $color,
    $margin_right,
    $margin_left,
    $text_position){
    font-style: $font_style;
    color: $color;
    font-size: 1.2em;
    margin-right: $margin_right;
    margin-left: $margin_left;
    text-align: $text_position;
}
@mixin container-modificator(
    $top_left_radius,
    $top_right_radius,
    $margin_left,
    $margin_right,
    $back_color){
    margin: 1%;
    border-top-left-radius: $top_left_radius;
    border-top-right-radius: $top_right_radius;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width: 60vw;
    margin-left: $margin_left ; 
    margin-right: $margin_right; 
    background-color: $back-color;
}


.my-message-container{
    @include container-modificator(40px,0px,auto ,1vw,rgb(153, 226, 255))
}
.other-message-container{
    @include container-modificator(0px, 40px, 1vw ,auto,rgb(253, 253, 250))
}
 


.chat-list {
    margin: none;
    padding-top: 5px;
    min-height: 100vh;
}
.float-bar{
     z-index: 1;
     position: fixed;
     bottom: 1%;
     width: 98%;
     box-sizing: content-box;
 }
.message-footer{
    margin-right: 7% ;
    text-align: end;
    font-style: italic;
    color: gray;
}

.my-message-content{
    @include text-modificator(normal,black,auto,2vw,left)   
}

.other-message-content{
    @include text-modificator(italic,rgb(102, 96, 96),auto,2vw,left )   
}



   // margin: 1%;
    // border-top-left-radius: 0px;
    // border-top-right-radius: 40px;
    // border-bottom-right-radius: 40px;
    // border-bottom-left-radius: 40px;
//     display: flex;
//     flex-direction: column;
//     overflow: auto;
//  }

//  .message-container{
//     margin: 1%;
//     border-radius: 20px;
//     display: flex;
//     flex-direction: column;
//     overflow: auto;
//  }
