/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-global{
    background-color: blue;
    color: white;
}

.chat-background{
    background-color: rgb(31, 125, 212);
    //background-color: black;
}