/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-global{
    background-color: blue;
    color: white;
}

.chat-background{
    background-image: url("/../../assets/img/chat-t.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: rgb(31, 124, 212);
    //background-color: black;
}

.failedValidation{
    //border: solid red 1px;
    //border-radius: 5px;
    background-color: mistyrose;
    color: red;
  }