<form [formGroup]="profileForm" >
<mat-card>
  <mat-card-content>
    <div class="row">
      <mat-card>
        <mat-card-content>
          <img 
        class="profile-image" 
        mat-card-image [src]="this.user.photo" 
        alt="profile image">
        <button
        (click)="changePhoto()"
        style="vertical-align: bottom;" 
        mat-icon-button >
          <mat-icon>edit</mat-icon>
        </button>   
      </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>
            {{this.user.username}}
        </mat-card-title>
        <mat-card-subtitle>
            {{this.user.email}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            {{this.user.contacts.length}} contacts
        </mat-card-subtitle>
        <mat-card-actions>
          <button 
          class="button-global" 
          mat-raised-button  type="button" 
          (click)="editProfile()">{{ this.editable ? "Cancel Edition" : "Edit Profile" }}</button>
          <button 
          class="button-global" mat-raised-button  
          type="button" (click)="goToChats()">Back to Chats</button>
        </mat-card-actions>
      </mat-card> 
    </div>
  </mat-card-content>
  <mat-card-content>
    <mat-card *ngIf="this.editable">
      <mat-card-header>
        <mat-card-title>Edit Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Edit Username:" formControlName="username">
              <mat-error *ngIf="profileForm.controls['username'].hasError('maxlength')">
                a Username can't exceed <strong> 100 characters</strong>, current: 
                <strong>{{profileForm.controls['username'].errors.maxlength.actualLength}} characters</strong>
              </mat-error>
              <mat-error *ngIf="profileForm.controls['username'].hasError('minlength')">
                a valid Username need more than <strong> 3 characters</strong>, current: 
                <strong>{{profileForm.controls['username'].errors.minlength.actualLength}} characters</strong>
              </mat-error>
              <mat-error *ngIf="profileForm.controls['username'].hasError('pattern')">
                please provide a valid username
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Edit Email:" formControlName="email">
              <mat-error *ngIf="profileForm.controls['email'].hasError('email')">
                email is <strong>not valid</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-button type="button" (click)="changePassword()">
              <span>
                <mat-icon>edit</mat-icon>
                {{!this.passwordEditable? 'Change Password': 'Cancel Edition'}}
              </span>
            </button>
          </div>
        </div>
        <div *ngIf="this.passwordEditable" class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input [type]="this.hidePass?'password':'text'" 
              matInput placeholder="Insert Current Password:" formControlName="currentPassword">
              <mat-icon
                matSuffix 
                (mouseenter) = "this.hidePass = !this.hidePass"
                (mouseleave) = "this.hidePass = !this.hidePass">
                    {{this.hidePass ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="profileForm.controls['currentPassword'].hasError('required')">
                password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="profileForm.controls['currentPassword'].hasError('minlength')">
                password <strong>not valid</strong>, use at least <strong>8 chars,</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input [type]="this.hidePass?'password':'text'"  
              matInput placeholder="Insert New Password:" formControlName="password">
              <mat-icon
              matSuffix 
              (mouseenter) = "this.hidePass = !this.hidePass"
              (mouseleave) = "this.hidePass = !this.hidePass">
                {{this.hidePass ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="profileForm.controls['password'].hasError('required')">
                password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="profileForm.controls['password'].hasError('minlength')">
                password <strong>not valid</strong>, use at least <strong>8 chars,</strong>
              </mat-error>
              <mat-error 
              *ngIf="profileForm.controls['repeat'].hasError('matchError') && 
              (profileForm.controls.repeat.touched || profileForm.controls.repeat.dirty )">
                password <strong>doesn't match</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input [type]="this.hidePass?'password':'text'" 
               matInput placeholder="Confirm New Password:" formControlName="repeat">
              <mat-icon
              matSuffix 
              (mouseenter) = "this.hidePass = !this.hidePass"
              (mouseleave) = "this.hidePass = !this.hidePass">
                {{this.hidePass ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="profileForm.controls['repeat'].hasError('required')">
                password is <strong>required</strong>
              </mat-error>
              <mat-error 
              *ngIf="profileForm.controls['repeat'].hasError('minlength')">
                password <strong>not valid</strong>, use at least <strong>8 chars,</strong>
              </mat-error>
              <mat-error 
              *ngIf="profileForm.controls['repeat'].hasError('matchError') && 
              (profileForm.controls.repeat.touched || profileForm.controls.repeat.dirty )">
                password <strong>doesn't match</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button 
        class="button-global" mat-raised-button  type="button" (click)="onSubmit()">Update profile</button>
      </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </mat-card>
</form>


